<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Vacancy</title>
    <link rel="stylesheet"
          th:href="@{/css/styles.css}"/>
</head>
<body>
<div th:include="header"></div>
<h1>Add New Vacancy</h1><br>
<form class=" "
      method="POST"
      th:object="${vacancy}">
    <div class="row">
        <span class="label">Position: </span>
        <input id="position"
               name="position"
               th:attr='value=${vacancy.position}'
               type="text"/><br>
    </div>
    <div class="row">
        <span class="label">Link: </span>
        <input id="link"
               name="link"
               th:attr='value=${vacancy.link}'
               type="text"/><br>
    </div>
    <div class="row">
        <span class="label">Notes: </span>
        <input id="notes"
               name="notes"
               th:attr='value=${vacancy.notes}'
               type="text"/><br>
    </div>
    <div class="row">
        <span class="label">Description: </span>
        <input id="description"
               name="description"
               th:attr='value=${vacancy.description}'
               type="text"/><br>
    </div>
    <div class="row">
        <span class="label">Comment: </span>
        <input id="comment"
               name="comment"
               th:attr='value=${vacancy.comment}'
               type="text"/><br>
    </div>
    <input class="btn btn-success"
           type="submit"
           value="Add vacancy"/><br>
    </div>
</form>
<form th:action="@{/vacancies/vacancy/{id}/change(id=${vacancy.id})}"
      th:method="GET">
    <input class="btn btn-warning"
           type="submit"
           value="Change"/>
</form>
<form th:action="@{/vacancies/vacancy/{id}/delete(id=${vacancy.id})}"
      th:method="DELETE">
    <input class="btn btn-danger"
           type="submit"
           value="Delete"/>
</form>
</div>
</body>
</html>