<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Employer</title>
    <link rel="stylesheet"
          th:href="@{/css/styles.css}"/>
</head>
<body>
<div th:include="header"></div>
<h1>Add New Employer</h1><br>
<form class=" "
      method="POST"
      th:object="${employer}">
    <div class="row">
        <span class="label">Company name: </span>
        <input id="name"
               name="name"
               th:attr='value=${employer.name}'
               type="text"/><br>
    </div>
    <div class="row">
        <span class="label">Full Company name: </span>
        <input id="fullName"
               name="fullName"
               th:attr='value=${employer.fullName}'
               type="text"/><br>
    </div>
    <div class="row">
        <span class="label">Address: </span>
        <input id="address"
               name="address"
               th:attr='value=${employer.address}'
               type="text"/><br></div>
    <div class="row">
        <span class="label">E-mail: </span>
        <input id="email"
               name="email"
               th:attr='value=${employer.email}'
               type="text"/><br></div>
    <div class="row">
        <span class="label">Website: </span>
        <input id="website"
               name="website"
               th:attr='value=${employer.website}'
               type="text"/><br></div>
    <input class="btn btn-success"
           type="submit"
           value="Add employer"/><br>
    </div>
</form>
<form th:action="@{/employers/employer/{id}/change(id=${employer.id})}"
      th:method="GET">
    <input class="btn btn-warning"
           type="submit"
           value="Change"/>
</form>
<form th:action="@{/employers/employer/{id}/delete(id=${employer.id})}"
      th:method="DELETE">
    <input class="btn btn-danger"
           type="submit"
           value="Delete"/>
</form>
</div>
</body>
</html>