<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Cover Letters</title>
    <link rel="stylesheet"
          th:href="@{/css/styles.css}"/>
</head>
<body>
<h1>All Cover Letters</h1><br>
<div th:include="header"></div>
<table width="100%">
    <thead>
    <tr>
        <th width="5%"> #</th>
        <th width="5%"> Id</th>
        <th width="80%"> Cover Letter name</th>
        <th width="10%"> Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="coverLetter : ${coverLetters}">
        <td class="Row_Number">
            <script type="text/javascript">
                var a = document.getElementsByClassName("Row_Number");
                for (var i = 0; i < a.length; i++) {
                    a[i].innerHTML = (i+1)+".";
                    }
            </script>
        </td>
        <td><span th:text="${coverLetter.id}"> Id </span></td>
        <td><a th:href="@{/coverLetters/coverLetter/{id}(id=${coverLetter.id})}"><span th:text="${coverLetter.name}">
					Resume name</span></a>
        </td>
        <td>
            <form style="display: inline;" th:action="@{/coverLetters/coverLetter/{id}(id=${coverLetter.id})}" th:method="GET">
                <input class="btn btn-success"
                       type="submit"
                       value="Open"/>
            </form>
            <form style="display: inline;" th:action="@{/coverLetters/coverLetter/{id}/change(id=${coverLetter.id})}"
                  th:method="GET">
                <input class="btn btn-warning"
                       type="submit"
                       value="Change"/>
            </form>
            <form th:action="@{/coverLetters/coverLetter/{id}/generatePDF(id=${coverLetter.id})}"
                  th:method="GET">
                <input class="btn btn-success"
                       type="submit"
                       value="Get PDF"/></form>
            <form style="display: inline;" th:action="@{/coverLetters/coverLetter/{id}/delete(id=${coverLetter.id})}"
                  th:method="DELETE">
                <input class="btn btn-danger"
                       type="submit"
                       value="Delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>