<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All Candidates</title>
  <link rel="stylesheet"
        th:href="@{/css/styles.css}"/>
</head>
<body>
<h1>All Candidates</h1><br>
<div th:include="header"></div>
<table width="100%">
  <thead>
  <tr>
    <th width="5%"><h5>#</h5></th>
    <th width="5%"><h5>Id</h5></th>
    <th width="80%"><h5>Candidate</h5></th>
    <th width="10%"><h5>Actions</h5></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="candidate : ${candidates}">
    <td class="Row_Number">
      <script type="text/javascript">
                var a = document.getElementsByClassName("Row_Number");
                for (var i = 0; i < a.length; i++) {
                    a[i].innerHTML = (i+1)+".";
                    }
            </script>
    </td>
    <td><span th:text="${candidate.id}"> Id </span></td>
    <td><a th:href="@{/candidates/candidate/{id}(id=${candidate.id})}"><span th:text="${candidate.name}">Candidate name</span> <span
            th:text="${candidate.surname}">Candidate surname</span></a>
      <br>
      <details>
        <summary><h5>Employers for this Candidate:</h5></summary>
        <div th:each="employer : ${candidate.employers}">
          <a th:href="@{/employers/employer/{id}(id=${employer.id})}"><span th:text="${employer.name}">
					Employer</span></a><br>
        </div>
      </details>
    </td>
    <td>
      <form style="display: inline;"
            th:action="@{/employers/addNewEmployer/whereCandidateId/{id}(id=${candidate.id})}"
            th:method="GET">
        <input class="btn btn-warning"
               type="submit"
               value="Add New Employer"/></form>
      <br>
      <form style="display: inline;" th:action="@{/candidates/candidate/{id}(id=${candidate.id})}" th:method="GET">
        <input class="btn btn-success"
               type="submit"
               value="Open"/>
      </form>
      <form style="display: inline;" th:action="@{/candidates/candidate/{id}/change(id=${candidate.id})}"
            th:method="GET">
        <input class="btn btn-warning"
               type="submit"
               value="Change"/>
      </form>
      <form style="display: inline;" th:action="@{/candidates/candidate/{id}/delete(id=${candidate.id})}"
            th:method="DELETE">
        <input class="btn btn-danger"
               type="submit"
               value="Delete"/>
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>