<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employer</title>
    <link rel="stylesheet"
          th:href="@{/css/styles.css}"/>
</head>
<body>
<div th:include="header"></div>
<h1>Employer</h1><br>
<div th:object="${employer}">
    <div class="row">
        <span class="label">Company name </span>
        <span class="field"
              th:text="${employer.name}"></span><br>
    </div>
    <div class="row">
        <span class="label">Full Company name </span>
        <span class="field"
              th:text="${employer.fullName}"></span><br>
    </div>
    <div class="row">
        <span class="label">Address </span>
        <span class="field"
              th:text="${employer.address}"></span><br>
    </div>
    <div class="row">
        <span class="label">Email </span>
        <span class="field"
              th:text="${employer.email}"></span><br>
    </div>
    <div class="row">
        <span class="label">Website </span>
        <span class="field"
              th:text="${employer.website}"></span><br>
    </div>

    <form th:action="@{/employers/employer/{id}/change(id=${employer.id})}"
          th:method="GET">
        <input class="Change_button"
               type="submit"
               value="Change"/>
    </form>
    <form th:action="@{/employers/employer/{id}/delete(id=${employer.id})}"
          th:method="DELETE">
        <input class="Delete_button"
               type="submit"
               value="Delete"/>
    </form>
</div>
</body>
</html>