<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<a href="/">Home</a><br>

<a href="/employers">Employers</a>
<a href="/employers/addNewEmployer">Add New Employer</a><br>

<a href="/vacancies">Vacancies</a>
<a href="/vacancies/addNewVacancy">Add New Vacancy</a><br>

<a href="/resumes">Resumes</a>
<a href="/resumes/addNewResume">Add New Resume</a><br>

<a href="/coverLetters">Cover Letters</a>
<a href="/coverLetters/addNewCoverLetter">Add New Cover Letter</a><br>
</body>
</html>