<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" th:src="@{/css/styles.css}"/>
    <link rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}"/>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<a href="/">Home</a><br>
<a href="/candidates">Candidates</a>
<a href="/candidates/addNewCandidate">Add New Candidate</a>

<a href="/employers">Employers</a>

<a href="/vacancies">Vacancies</a>

<a href="/resumes">Resumes</a>

<a href="/coverLetters">Cover Letters</a>
</body>
</html>