<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Cover Letter</title>
    <link rel="stylesheet"
          th:href="@{/css/styles.css}"/>
</head>
<body>
<div th:include="header"></div>
<h1>Update Cover Letter</h1><br>
<form class=" "
      method="POST"
      th:object="${coverLetter}">
    <div class="row">
        <span class="label">name </span>
        <input id="name"
               name="name"
               th:attr='value=${coverLetter.name}'
               type="text"/><br>
    </div>
    <div class="row">
        <span class="label">salutation </span>
        <input id="salutation"
               name="salutation"
               th:attr='value=${coverLetter.salutation}'
               type="text"/><br>
    </div>
    <div class="row">
        <span class="label">closing </span>
        <input id="closing"
               name="closing"
               th:attr='value=${coverLetter.closing}'
               type="text"/><br></div>
    <div class="row">
        <span class="label">signature </span>
        <input id="signature"
               name="signature"
               th:attr='value=${coverLetter.signature}'
               type="text"/><br></div>
    <input class="Update_button"
           type="submit"
           value="Update Cover Letter"/><br>
    </div>
</form>
<br>
<form th:action="@{/coverLetters/coverLetter/{id}(id=${coverLetter.id})}"
      th:method="GET"
      th:text="${coverLetter.name}">
    <input class="Open_item_button"
           type="submit"
           value="Open Cover Letter"/>
</form>
<form th:action="@{/coverLetters/coverLetter/{id}/delete(id=${coverLetter.id})}"
      th:method="DELETE">
    <input class="Delete_button"
           type="submit"
           value="Delete"/>
</form>
</body>
</html>